<apex:page standardstylesheets="false" showHeader="false" sideBar="false"
        controller="CMSSiteRegisterController" title="{!$Label.site.register}" action="{!init}" cache="false"
        language="{!selectLanguage}" id="page">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>
        // jQuery workarounds to make it work.
        var j$ = jQuery.noConflict();
        function fixId(myid) {
            return '#' + myid.replace(new RegExp("(:|\\.)", "g"), '\\\$1');
        }
    </script>
    <style>
        <apex:outputText value="{!cmsCssCustom}" />
    </style>

<!-- <script src="http://api.recaptcha.net/js/recaptcha_ajax.js" type="text/javascript" />-->
    <script src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js" type="text/javascript" />

    <script>
    
    function showRecaptcha(element) {
    Recaptcha.create("{!publicKey}", element, {
            theme: 'red',
            tabindex: 0,
            callback: Recaptcha.focus_response_field,
            
    });
    
    
    }
    

    
    
    </script>

            <apex:outputPanel styleClass="register-form container round-corner" layout="block" style="width:510px, height:320px" id="outputpanel">

                <div class="page-title" id="page_title">
                        <h2>{!$Label.fcms__register}</h2>
                        <p>{!$Label.fcms__to_create_an_account}</p>
                    </div>
                        <apex:form id="registrationForm">
                                <apex:outputPanel styleClass="row" layout="block" id="firstName">
                                <apex:outputLabel styleClass="field-label" for="cmsRegisterFirstName" value="{!$Label.fcms__first_name}" />
                                <apex:inputText styleClass="field-text" id="cmsRegisterFirstName" value="{!contact.FirstName}" />
                            </apex:outputPanel>
                                <apex:outputPanel styleClass="row" layout="block" id="lastName">
                                <apex:outputLabel styleClass="field-label" for="cmsRegisterLastName" value="{!$Label.fcms__last_name}" />
                                <apex:inputText styleClass="field-text" id="cmsRegisterLastName" value="{!contact.lastName}" />
                            </apex:outputPanel>
                                <apex:outputPanel styleClass="row" layout="block" id="userName">
                                    <apex:outputLabel styleClass="field-label" for="cmsRegisterUserName" value="{!$Label.fcms__user_name_in_an_email_format}" />
                                    <apex:inputText styleClass="field-text" id="cmsRegisterUserName" value="{!contact.UserName__c}" onchange="fillEmail()" />
                                </apex:outputPanel>
                                <script>
                                    var userNameId = '{!$Component.cmsRegisterUserName}';
                                </script>
                                <apex:outputPanel styleClass="row" layout="block" id="password">
                                <apex:outputLabel styleClass="field-label" for="cmsRegisterPassword" value="{!$Label.fcms__password}" />
                                <apex:inputSecret styleClass="field-text" id="cmsRegisterPassword" value="{!contact.Company_Name__c}" />
                            </apex:outputPanel>
                            <apex:outputPanel styleClass="row" layout="block" id="confirmPassword">
                                <apex:outputLabel styleClass="field-label" for="cmsRegisterPasswordConfirm" value="{!$Label.fcms__confirm_password}" />
                                <apex:inputSecret styleClass="field-text" id="cmsRegisterPasswordConfirm" value="{!confirmPassword}" />
                            </apex:outputPanel>
                            <apex:outputPanel styleClass="row" layout="block" id="email">
                                    <apex:outputLabel styleClass="field-label" for="cmsRegisterEmail" value="{!$Label.fcms__email}" />
                                    <apex:inputText styleClass="field-text" id="cmsRegisterEmail" value="{!contact.Email}" />
                                </apex:outputPanel>
                                <script>
                                    var emailId = '{!$Component.cmsRegisterEmail}';
                                </script>
                            <apex:outputPanel styleClass="row" layout="block" rendered="{!profileFlag}">
                                <apex:outputLabel styleClass="field-label" for="cmsRegisterEmail" value="{!$Label.fcms__register_as}" />
                                <apex:selectList value="{!contact.CMSProfile__c}" id="Profile" size="1" styleClass="field-text">
                                        <apex:selectOptions value="{!items}"/>
                                    </apex:selectList>
                            </apex:outputPanel>
                            
                            <div class="row">
                                <apex:outputPanel id="captcha" rendered="{!captchaIsShow}">
                                    <apex:inputhidden value="{!challenge}" id="challenge" />
                                    <apex:inputhidden value="{!response}" id="response" />

                                    <script type="text/javascript">
                                        function captureResponse(ele) {
                                            document.getElementById('{!$Component.challenge}').value =
                                                    document.getElementById('recaptcha_challenge_field').value;

                                            document.getElementById('{!$Component.response}').value =
                                                    document.getElementById('recaptcha_response_field').value;
                                            
                                            
                                            
                                            
                                        }
                                    </script>

                                    <div style="width:100%;">
                                        <div id="dynamic_recaptcha_1" ></div>
                                    </div>
                                    <br />

                                    <script>
                                        showRecaptcha('dynamic_recaptcha_1');
                                    
                                    </script>
                                </apex:outputPanel>
                        </div>

                            <apex:outputPanel layout="block" styleClass="row">
                            <apex:outputLink value="{!loginPage}">

                                {!$Label.fcms__already_a_user}
                            </apex:outputLink>
                        </apex:outputPanel>


                        <apex:outputPanel layout="block" styleClass="row" id="createAccount">
                            <div class="form-submit1">
                            <apex:commandButton onclick="window.scrollTo(0, 0); captureResponse(this);" action="{!registerUser}" value="{!$Label.fcms__create_an_account}" id="createAccountButton" />
                            </div>
                        </apex:outputPanel>
                        </apex:form>
                </apex:outputPanel>
            <script>


                    function checkValidations(submitButton){

                        checkId = submitButton.id;
                        var checkIdList = checkId.split(':');
                            size = checkIdList.length;

                            checkName = checkIdList[size-1];
                            //checkName1 = ':'+checkName;
                            baseIdPart = checkId.replace(checkName,'');

                        if(document.getElementById(baseIdPart+'cmsRegisterFirstName').value==''){
                            alert('{!$Label.fcms__firstname_can_not}');
                            return false;
                        }
                        else if(document.getElementById(baseIdPart+'cmsRegisterLastName').value==''){
                            alert('{!$Label.fcms__lastname_can_not}');
                            return false;
                        }
                        else if(document.getElementById(baseIdPart+'cmsRegisterUserName').value==''){
                            alert('{!$Label.fcms__username_can_not}');
                            return false;
                        }
                        else if(document.getElementById(baseIdPart+'cmsRegisterPassword').value=='' || (document.getElementById(baseIdPart+'cmsRegisterPassword').value).length<8){
                            alert('{!$Label.fcms__password_can_not}');
                            return false;
                        }
                        else if(document.getElementById(baseIdPart+'cmsRegisterPasswordConfirm').value != document.getElementById(baseIdPart+'cmsRegisterPassword').value){
                            alert('{!$Label.fcms__confirm_password_is_not}');
                            return false;
                        }
                        if(document.getElementById(baseIdPart+'cmsRegisterEmail').value==''){
                            alert('{!$Label.fcms__email_can_not}');
                            return false;
                        }
                        else {
                        return true;
                        }
                    }
                    // added javascript function to fill username value in email field
                    function fillEmail() {
                        if(j$(fixId(userNameId)).val() != '' && j$(fixId(emailId)).val() == '') {
                            j$(fixId(emailId)).val(j$(fixId(userNameId)).val());
                        }
                    }
            </script>
</apex:page>