<!-- TODO: Visualforce Page name should not have a Page suffix -->
<apex:page controller="LinkedInAuthController" action="{!linkedInLogin}" showHeader="false">
	<apex:form >
		<apex:outputPanel id="messages">
			<apex:pageMessages escape="false"/>
		</apex:outputPanel>
	
		
	</apex:form>

</apex:page>