<apex:page id="UiThemeJs" docType="html-5.0" applyBodyTag="false" applyHtmlTag="false"
		   showHeader="false" standardStylesheets="false">
	
	<script type="text/javascript">
		(function(myContext){
			// Don't overwrite ourself if we already exist.
			myContext.ForceUI = myContext.ForceUI || {};

			// Because this is Visualforce, not a static resource,
			// we can access a global variable in an expression.
			myContext.ForceUI.Theme = '{!$User.UIThemeDisplayed}';

			myContext.ForceUI.isClassic = function() {
				return (this.Theme === 'Theme3');
			};
			myContext.ForceUI.isLightning = function() {
				return (this.Theme === 'Theme4d' || this.Theme === 'Theme4u');
			};
			myContext.ForceUI.isMobile = function() {
				return (this.Theme === 'Theme4t');
			};

			myContext.ForceUI.navigate = function(url, frame) {
				frame = frame || window;
				if (this.isLightning()) {
					sforce.one.navigateToURL(url);
				} else {
					frame.location = url;
				}
			};

		})(this);
	</script>
</apex:page>